
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PhpStorm ###
.idea
###< PhpStorm ###

###> CSFixer ###
tools
.php-cs-fixer.cache
###< CSFixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
